body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.tabla-proforma {
    border-collapse: collapse; /*elimina bordes */
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
}

.tabla-proforma thead tr {
    background-color: black;
    color: white;
    text-align: left;
    font-weight: bold;
}

.tabla-proforma th,
.tabla-proforma td {
    padding: 12px 15px;
}
